nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
    margin: 0 2rem;
    min-height: 3rem;
    padding-top: 1rem;
}

.brand {
    justify-self: start;
    line-height: 2em; /* /*lines up with nav links */
    transform: translateY(-200%);
    animation: slideRight 300ms ease-in-out;
    animation-fill-mode: forwards;
}

nav h1 {
    font-size: 1.5em;
}

.hamburgerMenu {
    display: none;
}

.navLinks {
    justify-self: end;
    line-height: 2em; /*lines up with site brand */
    transform: translateY(-200%);
    animation: slideDown 500ms ease-in-out 150ms;
    animation-fill-mode: forwards;
}

.navLinks a {
    margin: 0 1em;
    
}

.navLinks a:hover {
    border-bottom: .25em solid #006B38FF;
}

@media only screen and (max-width: 650px){
    .hamburgerMenu {
        justify-self: end;
        align-self: center;
        display: flex;
        flex-direction: column;
        background-color: #101820FF;
        border: none;
        width: 2em;
        height: 2em;
    }

    .bar {
        height: .5em;
        width: 100%;
        margin: .25em 0;
        background-color: white;

    }

    .navLinks {
        display: none;
    }

    .navLinks.showMobile {
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        justify-self: center;
        margin: 2em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .navLinks.showMobile a {
        font-size: 1.5em;
        margin: .5em 0;

    }

    
}

@keyframes slideDown {
    0% {
        transform: translateY(-200%);
    }
    100% {
        transform: translateY(0);
    }
}


@keyframes slideRight {
    0% {
        transform: translateX(-100%);
    }

    90% {
        transform: translateX(1.1);
    }

    100% {
        transform: translateX(0);
    }

}