section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.card {
    position: relative;
    min-width: 18rem;
    max-width: 25rem;
    min-height: 25rem;
    max-height: 30rem;
    border-radius: 1em;
    box-shadow: 0 0 1em .25em rgb(54, 55, 56);
    margin: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: center;
    padding: 1em 0 0 0;
}

.card p {
    padding: .5em;
}

.projectTitle {
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    /* background-color: #006B38FF; */
    border-radius: .25em;
}

.projectTitle h2 {
    border-bottom: .25em solid #006B38FF;
}

.projectImg {
    justify-self: end;
}

.projectGithub {
    position: absolute;
    left: 0;
    bottom: 0;
    min-width: 1em;
    min-height: 2em;
    background-color: #006B38FF;
    border-radius: 0 .5em 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectGithub:hover {
    min-width: 2.5em;
    min-height: 3.5em;
}

.projectLink {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 1em;
    min-height: 2em;
    background-color: #006B38FF;
    border-radius: .5em 0 0 0 ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.projectLink:hover {
    min-width: 2.5em;
    min-height: 3.5em;
}